/**
 * @name discordtheme
 * @author FeoreV
 * @version 2.0.0
 * @description Blur is the new black
 * @source https://github.com/FeoreV/Themes/tree/main/Discord/FVUI
 * @invite baEMQkgswT
 * @website https://feorev.github.io/
 * @authorId 489785940546551831
 * @BDEditor FVUI
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@100;300;400;500;700&display=swap');
@import url('https://feorev.github.io/Themes/Discord/FVUI/Cores/preload.css');
@import url('https://feorev.github.io/Themes/Discord/FVUI/assets/SubThemes/Mica.css');
@import url('https://feorev.github.io/Themes/Discord/FVUI/Addons/TopUserPanel.css');
@import url('https://feorev.github.io/Themes/Discord/FVUI/Addons/HSL/HSL_bottom.css');
@import url('https://feorev.github.io/Themes/Discord/FVUI/assets/SubThemes/Mica.css');
@import url('https://feorev.github.io/Themes/Discord/FVUI/Addons/Events/Events.css');
@import url('https://feorev.github.io/Themes/Discord/FVUI/Addons/ServerRings.css');
@import url('https://feorev.github.io/Themes/Discord/FVUI/Addons/RadialStatus.css');

:root {
  --undefined: 0;
  --color1: 26,31,35;
  --color2: 20,20,20;
  --color3: 45,45,45;
  --undefined: 0;
  --ColorOpacity: 0.3;
  --DisableOpacity: 1;
  --cursor: url('https://feorev.github.io/Themes/Discord/FVUI/assets/Cursor.cur');
  --font: Source Code Pro;
  --homeicon: url('https://i.imgur.com/DkjVS5o.png');
  --undefined: 0;
  --FVUI: var(--subtheme);
  --customdesc: "";
  --BGopacity: 20%;
  --BGcolor: var(--color2);
}

/* Any custom CSS below here */


